name: Issue Trigger Workflow

on:
  issues:
    types: [opened, reopened]

jobs:
  issue_details:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Set environment variables
      env:
        ISSUE_NUMBER: ${{ github.event.issue.number }}
        ISSUE_TITLE: ${{ github.event.issue.title }}
        ISSUE_BODY: ${{ github.event.issue.body }}
        ISSUE_ASSIGNEES: ${{ toJson(github.event.issue.assignees) }}
        ISSUE_LABELS: ${{ toJson(github.event.issue.labels) }}
      run: |
        echo "ISSUE_NUMBER=${{ env.ISSUE_NUMBER }}" >> $GITHUB_ENV
        echo "ISSUE_TITLE=${{ env.ISSUE_TITLE }}" >> $GITHUB_ENV
        echo "ISSUE_BODY=${{ env.ISSUE_BODY }}" >> $GITHUB_ENV
        echo "ISSUE_ASSIGNEES=${{ env.ISSUE_ASSIGNEES }}" >> $GITHUB_ENV
        echo "ISSUE_LABELS=${{ env.ISSUE_LABELS }}" >> $GITHUB_ENV

    - name: Echo issue details
      env:
        ISSUE_NUMBER: ${{ env.ISSUE_NUMBER }}
        ISSUE_TITLE: ${{ env.ISSUE_TITLE }}
        ISSUE_BODY: ${{ env.ISSUE_BODY }}
        ISSUE_ASSIGNEES: ${{ env.ISSUE_ASSIGNEES }}
        ISSUE_LABELS: ${{ env.ISSUE_LABELS }}
      run: |
        echo "Issue Number: ${ISSUE_NUMBER}"
        echo "Issue Title: ${ISSUE_TITLE}"
        echo "Issue Body: ${ISSUE_BODY}"
        echo "Issue Assignees:"
        echo "${ISSUE_ASSIGNEES}" | jq -r '.[] | "- \(.login)"'
        echo "Issue Labels:"
        echo "${ISSUE_LABELS}" | jq -r '.[] | "- \(.name)"'
